<div id="footerSection">
    <div class="container">
        <div class="row">
            <div class="span3">
                <h5>TÀI KHOẢN</h5>
                <a href="#">TÀI KHOẢN CỦA BẠN</a>
                <a href="#">THÔNG TIN CÁ NHÂN</a>
                <a href="#">ĐỊA CHỈ</a>
                <a href="#">MÃ GIẢM GIÁ</a>
                <a href="#">LỊCH SỬ ĐƠN HÀNG</a>
            </div>
            <div class="span3">
                <h5>THÔNG TIN</h5>
                <a href="~/templates/contact.html">LIÊN HỆ</a>
                <a href="#">ĐĂNG KÝ</a>
                <a href="~/templates/tac.html">CÁC ĐIỀU KHOẢN</a>
                <a href="#">BẢO HÀNH</a>
                <a href="~/templates/faq.html">FAQ</a>
            </div>
            <div class="span3">
                <h5>ƯU ĐÃI</h5>
                <a href="#">SẢN PHẨM MỚI</a>
                <a href="#">SẢN PHẨM BÁN CHẠY</a>
                <a href="#">ƯU ĐÃI ĐẶC BIỆT</a>
                <a href="#">NHÀ CUNG CẤP</a>
            </div>
            <div id="socialMedia" class="span3 pull-right">
                <h5>MẠNG XÃ HỘI </h5>
                <a href="#"><img width="60" height="60" src="~/images/facebook.png" title="facebook" alt="facebook" /></a>
                <a href="#"><img width="60" height="60" src="~/images/twitter.png" title="twitter" alt="twitter" /></a>
                <a href="#"><img width="60" height="60" src="~/images/youtube.png" title="youtube" alt="youtube" /></a>
            </div>
        </div>
    </div><!-- Container End -->
</div>